
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: white, #eaec98;
    color: grey;
    text-align: center;
}

nav {
    background: white;
    padding: .8em 0;
}

h1 {
    
	background: url("img/dinor.jpg") center center no-repeat;
	font-size:0;
    height: 200px;

}



h2, h3{
    text-align:center;
	font-family: 'Ubuntu';
	margin:1em;
}

h3{
	font-size:2em;
}

nav ul li {
    list-style: none;
    width: 90%;
    margin: .8em 0;
    display: inline-block;
	font-family: 'Ubuntu';
}

nav ul li a {
    display: block;
    text-decoration: none;
    background: #fce9eb;
    padding: 1em;
    color: grey;
}

nav ul li a:hover {
    background: #eaec98;
    color: grey;
}


p {
	width:100%;
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.4em;
	font-family: 'Ubuntu';
} 

main,
section {
    width: 100%;
    padding: 1em;
}

/*IMG*/
img {
	max-width: 100%;
}

figure {
    background:white;
    width: 100%;
	text-align: center;
}
		
#ayudar {
	display:flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	
}

#uno {
    order: 0;
    flex: 1;
	font-size:2em;
	margin:0.5em;
	min-width:250px;
	text-align:center;
}

#dos {
    order: 0;
    flex: 1;
	font-size:2em;
	margin:0.5em;
	min-width:250px;
	text-align:center;
}

#tres {
    order: 0;
    flex: 1;
	font-size:2em;
	margin:0.5em;
	min-width:250px;
	text-align:center;
}


/* Formulario */
form {
	
	flex-direction:column;
	background: url("img/plantitascel.jpg") right no-repeat;
    width: 95%;
    padding: 1em;
    margin: 1em auto;
	font-family:'Ubuntu';	
}

label {
    display: inline-block;
    vertical-align: middle;
    width: 4em;
}

div {
	width: 80%;
    margin: 1em auto;
}

div:first-child > label{
    vertical-align: top;
}

input {
	
	outline: none;
	box-shadow: none;
	width: 52%;
	padding: 0.5em;
}
input[type="radio"] {
    width: auto;
    margin-right: 5px;
}
       
input[type="radio"] + label {
    width: auto;
}
       
input[name="nombre"]{
    border: none;	
}
input[type="email"]{
    border: none;	
}

input:invalid {
    background: grey;
    color: white;
}

input:valid {
    background: #99c8c5;
}

input:focus:invalid {
    background: tomato;
}

textarea {
	background:#99c8c5;
	color:black ;
    resize: none;
    width: 52%;
    vertical-align: top;
	outline: none;
    padding: 5px;
	border: none;
}

input[type="submit"]{
    width: 50%;
	background-color:#bac4e4;
}


/*FOOTER*/


footer {
	display:flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	font-family:'Ubuntu';
    background: #A1B79C;
    color: white;
   
    
}

footer li {
	list-style:none;
}
footer ul {
	display:flex;
	
}

footer p {
	font-size:1.5em;
	text-align:center;
}


/*VIDEO*/

#video {
    width: 90%;
    font-size: 0;
    background:#9ac9c7;
	margin:auto;
}

#cuatro {
    width: 90vw;
    height: calc(90vw * 315 / 560);
    max-width: 560px;
    max-height: 315px;
    background: grey;
    margin: auto;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}






/*  TABLET */

@media screen and (min-width: 600px) {

h1{	
	background: url("img/dinor.jpg") center center no-repeat;
	font-size:0;
    height: 150px;
}

header,
section {
    width: 95%;
	margin: auto;
}
 
 
nav ul li {
    width: 23%;
    margin: .8em 1%;
}

#uno {
	order: 0;
    flex: 1;
  	font-size:2em;
	padding:0.5em;
}

#dos {
	order: 0;
	flex: 1;
	font-size:2em;
	padding:0.5em;
}

#tres {
    order: 0;
    flex: 1;
	font-size:2em;
	padding:0.5em;
}


figure {		
    width: 90%;
    margin: auto;
}
		
input[type="submit"]{
    width: 30%;
	background-color:#bac4e4;
}
		
form {
	background: url("img/plantitastab.jpg") right no-repeat;
    width: 85%;
    padding: 2em;
    margin: 2em auto;	
}	
	
}
/* Reglas para PC. */

@media screen and (min-width: 992px) {

header,
section {
    max-width: 1200px;
    width: 100%;
}

h1 {
	background: url("img/dinor.jpg") center center no-repeat;
	font-size:0;
	width: 298px;
    height: 101px;
    display: inline-block;
    vertical-align: middle;
    width: 40%;
}

nav {
    background: white, #eaec98;
    display: inline-block;
    vertical-align: middle;
    width: 60%;
	text-align: right;
    padding-right: 1em;
}

nav ul li {
    width: 120px;
    margin: 0.3em;
    text-align: center;
}

p {
    width: 100%;
	font-size:1em;
}
	
figure {
     width: 100%;
}

form {
	background: url("img/plantitas.jpg") right no-repeat;
    width: 80%;
    padding: 2em;
    margin: 2em auto;	
}	
	

input[type="submit"]{
    width: 20%;
	background-color:#bac4e4;
}


}
